.products-container {
    padding: 40px 0px 32px;
    width: 100%;
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: calc(100% - 160px);
    margin: 0 auto;
}

.title-product {
    width: 100%;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.02em;
    color: #2D2D2D;
    text-align: left;
}

.subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #2D2D2D;
    text-align: left;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: calc(100% - 160px);
    margin: 0 auto;
}

.cards {
    background: #FFFFFF;
    border-radius: 10px;
    height: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cards-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cards-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    width: 100%;
    flex: 1;
}

.cards-text {
    font-family: 'HelveticaNeue';
    font-size: 26px;
    line-height: 38px;
    color: #0C111D;
}

.cards-description {
    font-family: 'HelveticaNeue';
    font-size: 22px;
    line-height: 32px;
    color: #0C111D;
}

@media (max-width: 768px) {
    .products-container {
        width: 340px;
    }

    .title-box {
        width: calc(100% - 40px);
    }

    .title-product {
        font-size: 34px;
        line-height: 40px;
    }

    .subtitle {
        font-size: 22px;
        line-height: 28px;
    }

    .products {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 312px;
        margin: 0 auto;
    }

    .card {
        width: 312px;
        height: 272px;
    }

    .cards-image {
        width: 312px;
        height: 180px;
    }

    .cards-text {
        font-size: 26px;
        line-height: 38px;
    }

    .cards-description {
        font-size: 22px;
        line-height: 32px;
    }
}